body {
  font-family: Maven Pro, sans-serif;
  text-align: center;
  color: #fff;
  margin: 120px auto;
  width: 30%;
}
.container {
  background-image: linear-gradient(to top, #8d7f23 25%, #8ab7f8 75%);
  box-shadow: 3px 3px 8px rgb(68, 65, 68);
  border-radius: 20px;
}
form {
  position: relative;
  top: 10px;
  margin-bottom: 30px;
}
.form-control {
  border-radius: 20px;
}
.current-location {
  border-radius: 20px;
}
h1 {
  font-weight: normal;
  font-size: 30px;
  text-align: left;
}
.maintemp {
  font-size: 80px;
  position: relative;
  top: -10px;
  right: 130px;
  margin-bottom: 10px;
}
.tempunits {
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: -60px;
  right: 140px;
}
img {
  width: 180px;
  margin-top: -60px;
  margin-bottom: 30px;
}
h3 {
  margin-top: -30px;
  font-weight: 400;
}
.todays-highlights {
  margin: 20px 90px;
  font-size: smaller;
}
hr {
  margin: 0 50px;
}
.forecast {
  font-size: 20px;
  margin: 20px auto;
  padding-bottom: 10px;
}
a {
  color: #007bff;
  text-decoration: none;
}
.footer {
  color: #000;
}
