body {
  max-width: 470px;
  font-family: Maven Pro, sans-serif;
  text-align: center;
  color: #fff;
  margin: 61px auto;
}
.container {
  background: #6ea9c7;
  background-image: url("./images/blossoming\ white\ clouds.png");
  box-shadow: 3px 3px 8px rgb(68, 65, 68);
  border-radius: 20px;
}
.form-control {
  outline: 0;
  box-shadow: none;
  border-radius: 15px;
}
.border {
  border: 0px !important;
}
.input-group {
  position: relative;
  top: 8px;
  width: 75%;
  align-items: center;
  margin-left: 51px;
  margin-bottom: -25px;
}
.input-group-append {
  margin-left: -3px !important;
}
.input-group .btn {
  line-height: 28px;
  background-color: #fff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.input-group .btn:hover {
  background-color: #6c757d;
}
.marker-outline {
  width: 11%;
}
.location-marker {
  color: #6c757d;
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 20px;
  line-height: 28px;
  position: relative;
  top: -2px;
  left: 193px;
}
h1 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 30px;
  line-height: 28px;
  text-align: left;
}
ul {
  padding-left: 80px;
}
li {
  list-style: none;
  font-size: 15px;
  line-height: 19px;
  text-align: left;
}
.maintemp {
  font-size: 60px;
  position: relative;
  top: -10px;
  right: 31px;
}
.tempunits {
  font-size: 15px;
  font-weight: bold;
  position: relative;
  top: -42px;
  right: 35px;
}
.main-icon {
  width: 250px;
  margin-top: -91px;
  margin-bottom: -8px;
}
h3 {
  margin-top: -40px;
  margin-bottom: 15px;
  font-weight: 400;
}
.weather-description {
  text-transform: capitalize;
}
.todays-highlights {
  margin: 20px 90px;
  font-size: smaller;
}
hr {
  margin: 0 50px;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 10px;
}
.weather-forecast-date {
  font-size: 18px;
}
.weather-forecast-temperature-max {
  font-size: 15px;
  font-weight: 600;
}
.weather-forecast-temperature-min {
  font-size: 15px;
  opacity: 0.8;
}
a {
  color: #007bff;
  text-decoration: none;
}
.footer {
  color: #000;
}
